.hr1 {
background: #169dd5;
height: 10px;
border: 1px;
margin: 0px 0px; 
}

.hr2 {
background: #98c13d;
height: 10px;
border: 1px;
margin: 0px 0px; 
}

.english.h {
font-weight: 500;
font-family: "Ubuntu";
font-size: 24px;
color: #169dd5;

}

.english {
font-weight: 400;
font-family: "Ubuntu";
font-size: 22px;
color: #169dd5
}

.polish {
font-weight: 400;
font-family: "Ubuntu";
font-size: 22px;
color: #98c13d
}

.link1 {
text-decoration: underline;
font-weight: 400;
font-family: "Ubuntu";
font-size: 22px;
color: #169dd5;
}

.link1:hover {
text-decoration: underline;
color:red;
}

.link1.h {
text-decoration: underline;
font-weight: 400;
font-family: "Ubuntu";
font-size: 24px;
color: #169dd5;
}

.link1.h:hover {
text-decoration: underline;
color:red;
}

.link2 {
text-decoration: underline;
font-weight: 400;
font-family: "Ubuntu";
font-size: 22px;
color: #98c13d;
}

.link2:hover {
text-decoration: underline;
color:red;
}

.col.l90 {
width: 90%;
}


DIV.buttons {
    margin-left: 2px; 
}

.button1 {
    background-color: #313b4e;
    border: none;
    color: #169dd5;
    width: 245px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Ubuntu";
    font-size: 22px;
    font-weight: 400;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid #169dd5;
}

.button1:hover {
    background-color: #313b4e;
    color: red;
    border: 1px solid red;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.button2 {
    background-color: #313b4e;
    border: none;
    color: #169dd5;
    width: 500px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Ubuntu";
    font-size: 22px;
    font-weight: 400;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid #169dd5;
}

.button2:hover {
    background-color: #313b4e;
    color: red;
    border: 1px solid red;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.button3 {
    background-color: #313b4e;
    border: none;
    color: #98c13d;
    width: 245px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Ubuntu";
    font-size: 22px;
    font-weight: 400;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid #98c13d;
}

.button3:hover {
    background-color: #313b4e;
    color: red;
    border: 1px solid red;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.button4 {
    background-color: #313b4e;
    border: none;
    color: #98c13d;
    width: 500px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Ubuntu";
    font-size: 22px;
    font-weight: 400;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid #98c13d;
}

.button4:hover {
    background-color: #313b4e;
    color: red;
    border: 1px solid red;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.button5 {
    background-color: #313b4e;
    border: none;
    color: #169dd5;
    width: 90%;
    height: 65px;
    line-height: 65px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Ubuntu";
    font-size: 22px;
    font-weight: 400;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid #169dd5
}

.button5:hover {
    background-color: #313b4e;
    color: red;
    border: 1px solid red;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.button6 {
    background-color: #313b4e;
    border: none;
    color: #98c13d;
    width: 90%;
    height: 65px;
    line-height: 65px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Ubuntu";
    font-size: 22px;
    font-weight: 400;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid #98c13d;
}

.button6:hover {
    background-color: #313b4e;
    color: red;
    border: 1px solid red;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

r {
color: red;
}


.icons {
     width: 20px;
     padding: 0px;
}

@media screen and (min-width: 321px) {
.icons {
     width: 40px;
     padding: 1px;
}
}

@media screen and (min-width: 480px) {
.icons {
     width: 40px;
     padding: 2px;
}
}

@media screen and (min-width: 640px) {
.icons {
     width: 50px;
     padding: 5px;
}
}


.iconpy {
    width:  54px;
    height: 71px;
}
.iconpytl {
    width:  34px;
    height: 55px;
}

@media screen and (min-width: 320px) {
.iconpy {
    width:  61px;
    height: 81px;
}
.iconpytl {
    width:  38px;
    height: 63px;
}
}

@media screen and (min-width: 360px) {
.iconpy {
    width:  72px;
    height: 95px;
}
.iconpytl {
    width:  45px;
    height: 74px;
}
}


.icon {
    width:  54px;
    height: 54px;
}
.icontl {
    width:  54px;
    height: 54px;
}

@media screen and (min-width: 320px) {
.icon {
    width:  61px;
    height: 61px;
}
.icontl {
    width:  61px;
    height: 61px;
}
}

@media screen and (min-width: 360px) {
.icon {
    width:  72px;
    height: 72px;
}
.icontl {
    width:  72px;
    height: 72px;
}
}

.iconframe {
    border: thin solid #169dd5;
}

/*.iconframe:hover {
    border: 1px solid red;
}*/


.bottommenu {
    position: fixed;
    overflow-x: auto;
    bottom: 0; 
    width: 100%;
    left: 0px;
}

.menutable {
    border-collapse: collapse;
    border: 1px solid red;
    left: 0px;
    width: 100%;
    min-width: 650px;
    height: 1em;
    table-layout: auto;
}


.imglink {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #169dd5;
    font-size: 18px;
    font-weight: 500;
}

.imglink:active {
    font-style: italic;
}


@media screen and (max-device-width: 640px) {

.menutable { 
    min-width: 760px;
    height: 1.25em;
}

.imglink {
    font-size: 1.25em;
}

.imglink:hover {
    text-decoration: none;
    font-style: normal;
}

}



.menutable td {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    white-space: nowrap;
}


audio::-webkit-media-controls-panel {
background-color: #98c13d !important;
border: 1px solid red;
}

iframe.myframe1 {
    background: #313b4e;
    border: 1px solid red;
}

iframe.myframe2 {
    background: #98c13d;
    border: 1px solid red;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/* ubuntu-regular - latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ubuntu-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/ubuntu-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ubuntu-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ubuntu-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/ubuntu-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ubuntu-v20-latin-regular.svg#Ubuntu') format('svg'); /* Legacy iOS */
}
/* ubuntu-italic - latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/ubuntu-v20-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/ubuntu-v20-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ubuntu-v20-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ubuntu-v20-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/ubuntu-v20-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ubuntu-v20-latin-italic.svg#Ubuntu') format('svg'); /* Legacy iOS */
}
/* ubuntu-500 - latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/ubuntu-v20-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/ubuntu-v20-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ubuntu-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ubuntu-v20-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/ubuntu-v20-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ubuntu-v20-latin-500.svg#Ubuntu') format('svg'); /* Legacy iOS */
}
/* ubuntu-500italic - latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/ubuntu-v20-latin-500italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/ubuntu-v20-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ubuntu-v20-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ubuntu-v20-latin-500italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/ubuntu-v20-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ubuntu-v20-latin-500italic.svg#Ubuntu') format('svg'); /* Legacy iOS */
}
